data/master/zentra_train.csv
data/master/zentra_val.csv
data/processed/pedestrian_long_h3.csv
data/processed/tlc_h3_all_dates.csv
data/processed/mta_h3_all_dates.csv
data/processed/citibike_h3_all_dates.csv
data/processed/location_geocoded.csv
data/processed/events_daily.csv
data/raw

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
.venv-test/
venv/
env/

# IDE / editor
.idea/
.vscode/

# macOS
.DS_Store

